:root {
  --max-width: 1350px; 
  --color-tertiary: rgb(255, 191, 0);
  --color-secondary: #3b3b3b;
  --color-black: #282828;
  --color-white: rgb(226, 226, 226);
  --color-black-darker: rgb(0, 0, 0);
  --color-primary: #7bda55;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: var(--color-black);
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-secondary);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
