:root {
  --max-width: 1024px; 
  --color-tertiary: rgb(255, 191, 0);
  --color-secondary: #3b3b3b;
  --color-black: #282828;
  --color-white: rgb(226, 226, 226);
  --color-black-darker: rgb(0, 0, 0);
  --color-primary: #7bda55;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
