header {
    width: 100%;
    background-color: var(--color-black);
    padding: 1rem;
    position: fixed;
    z-index: 3;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

header ul li {
    padding: 1rem;
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: var(--color-white);
    padding-bottom: .5rem;
}

header nav a.active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

header nav a:hover{
    color: var(--color-primary);
}