header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

header ul li {
    padding: 1rem;
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: black;
}

header nav a.active {
    text-decoration: underline;
}