footer {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer svg {
    color: var(--color-white);
    padding: 0 1rem;
}